<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ApplicationName" value="Symphony SabreVm Service"/>
    <add key="AuthenticationServiceName" value="Authentication/AccessManager.svc"/>
    <add key="RepositoryServiceName" value="Repository.2.5.3.7/Manager.svc"/>
    <add key="SymphonySyncPointName" value="SabreVm"/>
    <add key="ServiceStartDateTimeUTC" value=""/>
    <add key="SymphonyUsername" value="symphonyuser"/>
    <add key="SymphonyPassword" value="lyEwJ7+DR5Y="/>
    <add key="SymphonyDomain" value="VnocSymphony"/>
    <add key="SymphonyServiceURL" value="https://framework.vnocsymphony.com"/>
    <add key="FromEmailAddress" value="support@vnocsymphony.com"/>
    <add key="ToEmailAddresses" value="srinath.kulathu@avispl.com"/>
    <add key="SMTPServerAddress" value="secure.emailsrvr.com"/>
    <add key="SMTPUsername" value="support@vnocsymphony.com"/>
    <add key="SMTPPassword" value="pr5uXdO9dU8K3fqZb0g/9A=="/>
    <add key="SMTPPort" value="587"/>
    <add key="SMTPUseSSL" value="False"/>
    <add key="SymphonyCommunicationsLink" value="False"/>
    <add key="ReloadBindings" value="True"/>
    <add key="IgnoreLocationEntries" value="False"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
